#app {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

#title {
  text-align: center;
  margin: 0;
  padding: 32px; 
  border-bottom: 1px solid lightblue; 
}

.card {
  margin: 1rem;
  flex-basis: 31%;
  border-radius: 0%;
  border: 1px solid lightblue;
}

.card-body {
  padding: 0;
}

.description {
  text-align: left;
  padding: 24px 40px;
  margin: 8px;
  font-size: larger;
  font-weight: normal;
}

#available {
  padding: 4px 0 4px 16px;
  margin: 8px 0;
  background-color: darkgrey;
  color: yellow;
  text-shadow: 2px 2px 4px black;
  font-size: large;
  font-weight: bold;  
}
